.victory-page {
    padding: 50px; /* Отступы вокруг страницы победы */
    text-align: center; /* Центрирование текста */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #CE342A;
}


.Snow {
    position: absolute;
    width: 1457px;
    height: 1035px;
    left: 0px;
    top: 0px;
    background: url(Snow Overlay 01.png);
    opacity: 0.35;
}

h1 {

position: absolute;
width: 708px;
height: 498px;
left: 377px;
top: 257px;



/* табло0 */

box-sizing: border-box;

position: absolute;
width: 600px;
height: auto;
left: 377px;
top: 755px;

background: #F1AD35;
border: 5px solid rgba(255, 251, 251, 0.96);
box-shadow: -3px 17px 4px rgba(0, 0, 0, 0.25);
border-radius: 35px;

/* ПОЗДРАВЛЯЕМ! Вы выиграли промокод -15% на посещение COFIX! */

position: absolute;
width: 598px;
height: 236px;
left: 429px;
top: 320px;

font-family: 'Montserrat Alternates',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 59px;
display: flex;
align-items: center;
text-align: center;

color: rgba(247, 242, 242, 0.827186);

}

#restart-button {
  /* сыграть снова */

position: absolute;
width: 270px;
height: 57px;
left: 602px;
top: 790px;

/* кубик */

box-sizing: border-box;

position: absolute;
width: 270px;
height: 57px;
left: calc(50% - 270px/2 + 17px);
top: 790px;

background: rgba(234, 227, 227, 0.613207);
border: 3px solid #FEF8F3;
border-radius: 29px;


/* сыграть снова */

position: absolute;
width: 236px;
height: 56px;
left: 619px;
top: 790px;

font-family: 'Montserrat Alternates',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
 justify-content: center; /* Центрирование текста по горизонтали внутри блока */
    text-align: center;


color: #F6E6D1;

    transition: transform 0.3s; /* Плавный переход при увеличении */
}

#restart-button:hover {
    transform: scale(1.1); /* Увеличение кнопки при наведении */
}